
/* 
	STYLE.CSS:
	One stylesheet to rule them all.
	
	selector { property:value }
	
*/

@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lato);

body {
  background-color: #ffffb3;
	border: 1px solid #000;
}
 
.pageContainer {
  width: 940px;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: #fff;
}
 
img {
  text-align:center;

  width: 300px;
  height: 300px;
  border: 10px solid #ff884d;
  padding: 0px;
}
 
.text-container {
 background-color: #Fff884d;	
}



.wrapper {
  width: 300px;
  margin: auto;
}
 
h1,h2, h3, h4 {
  font-family: sans-serif, cursive;

  color: #333300;
  text-align: center;
}
 h1 {
	 font-size:48px;
	 margin: 0;
}
h2 {
	margin:0;
	font-size: 15px;}

h3{ 
	font-size:20px;
	margin-top: 15px;
	margin-bottom: 15px;
}
h4 {    margin-top:15px;
	font-size: 15px;
}

ul, li { 
	font-family: sans-serif, cursive;
       color: #333300;
      
      font-size: 15px;
	margin-bottom:10px;
	text-align: left;
        list-style-position: inside;
}
	





/* ---- Advanced ---- */
/* This tag is a bit advanced for this lesson,  
   but is needed to wrap the pageContainer 
   around any sized content that is floated within it. */

.pageContainer:after { 
  content: " ";
  display: table;
  clear: both;
}
 
